.parallax-container {
    height: auto;
  }

  .nav-wrapper{
    background-color: #06ACBD;
    
  }

  .card{
    color: white;
    background-color: #06ACBD;
    text-align: center; 
  }

  #wgg{
    color: white
  }